@tailwind base;
@tailwind components;
@tailwind utilities;


.h1{
    font-size: 28px;
    font-weight: 600;
}

.first{
    margin-top: 50px;
}
.italic{
    font-style: italic;
    font-weight: 800;
    font-size: 18px;
    max-width: 750px;
    color: #b2b1b4;
    border-left: 4px solid #353f4f;
    padding-left: 20px;
}

.grey-text{
   color: #706e7b;
   max-width: 750px;
   text-align: start;
   font-weight: 800;
   font-size: 17px;
}

.link-underline{
    text-decoration: underline;
}

.lists ul{
    display: flex;
    flex-direction: column;
    gap: 14px;
    list-style:disc;
    margin: -20px 0px 0px 20px;
}

h2{
    color: #fff;
    font-weight: 600;
    font-size: 22px;
    margin-top: -10px;
}
.text-italic{
    font-weight: 800;
    color: #b2b1b4;
    max-width: 750px;
    padding-left: 20px;
    border-left: 4px solid #374151;
}

.italic-note{
    font-style: italic;
}

.text-white{
    color: #fff;
    quotes: "`" "`";
}

.text{
    margin-top: -30px;
}

.hr{
    margin: 50px 0;
    border: 1px solid #1f1e28;
}

