@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
body, * {
    font-family: "Urbanist", sans-serif;
}
.background-svg{
  background: url('./assets/svgs/background.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
::-webkit-scrollbar {
  width: 10px;
}
  
::-webkit-scrollbar-track {
  background: #202020; 
}
  
::-webkit-scrollbar-thumb {
  background:#4a4a4a; 
}
  
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
  
@keyframes toastSlideIn {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.animation-toastSlideIn {
  animation: toastSlideIn 0.5s ease-out forwards;
}

.cardDetails:hover .bluesvg{
  border: 1px solid #1eb9cd82; 
}

.loader {
  border: 2px solid #1a5b65;
  border-top: 2px solid #2022227f;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  animation: rotate 1s linear infinite;
}

.loader-spinner {
  border: 15px solid #1d484e;
  border-top: 15px solid #28B8CD;
  border-radius: 50%;
  width: 94px;
  height: 94px;
  margin:0 auto;
  animation: rotate 1s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


